---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Title from '../components/Title';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<article
				class='px-4 prose mx-auto max-w-screen-md prose-a:text-blue-600 hover:prose-a:text-blue-500 bg-white'
			>
				<Title>About Me</Title>
				<p>
					Ever since I was around 5 years old, I have always been fasinated by
					computers and all things technology. Growing up I would always talk to
					my cousins and uncles who worked in the technology field and always
					ask them questions about how things worked and how to get into the
					field and how to learn to code or become a developer.
				</p>

				<br />

				<p>
					In 4 years I got a degree in computer science and then right after
					graduating I got a job working as a full-time junior web developer
					working with JavaScript and also the Kentico CMS.
				</p>

				<br />

				<p>
					Over the years, I have learnt a lot as a developer and have been able
					to add some really amazing skills and tools into my toolbox of being a
					developer. I have worked on Shopify sites, WordPress sites and also
					ClickFunnels sites as well. I have managed projects and also
					implmented new and very helpful features to exisiting projects at my
					job and have helped save my co-workers hundreds of hours of tasks with
					these features and have helped improve site traffic on sites as well.
				</p>

				<br />

				<p>
					Currently, I am working as a full stack web developer specializing in
					Shopify, WordPress and Click Funnels websites.
				</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
