---
import HeaderLink from "./HeaderLink.astro";
import { FaGithub, FaTwitter } from 'react-icons/fa';

const today = new Date();
---

<footer class="text-black">
	<nav class="pb-2">
		<HeaderLink class="footer-link" href="/">Home</HeaderLink>
		<HeaderLink class="footer-link" href="/blog">Blog</HeaderLink>
		<HeaderLink class="footer-link" href="/about">About</HeaderLink>
		<HeaderLink class="footer-link text-blue-500 text-2xl" href="https://twitter.com/rohankewal" target="_blank">
      <FaTwitter />
    </HeaderLink>
		<HeaderLink class="footer-link text-2xl" href="https://github.com/rohankewal" target="_blank">
      <FaGithub />
    </HeaderLink>
	</nav>
	&copy; {today.getFullYear()} Rohan Kewalramani. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
  .footer-link {
    font-weight: normal;
    text-decoration: none;
  }
  .footer-link.active {
    font-weight: normal;
    text-decoration: none;
  }
</style>
