---
import HeaderLink from "./HeaderLink.astro";
import YoutubeIcon from "./icons/YoutubeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import TwitchIcon from "./icons/TwitchIcon.astro"
import TwitterIcon from "./icons/TwitterIcon.astro";
import MastedonIcon from "./icons/MastedonIcon.astro"

const today = new Date();
---

<footer class="bg-white dark:bg-gray-900 text-black dark:text-white py-6">
      <div class="container mx-auto flex flex-wrap items-center justify-center space-x-4">
        <HeaderLink class="font-extrabold text-xl" href="/">Rohan Kewalramani</HeaderLink>
        <HeaderLink class="footer-link" href="/blog">Posts</HeaderLink>
        <HeaderLink class="footer-link" href="/about">About</HeaderLink>
        <HeaderLink class="footer-link" href="/setup">Setup</HeaderLink>
        <HeaderLink href="https://www.youtube.com/channel/UCRtXR1SLPBti1p5bNAioIuw" target="_blank">
          <YoutubeIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitter.com/rohankewal" target="_blank">
          <TwitterIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitch.tv/rohankewal" target="_blank">
          <TwitchIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://mastodon.social/@rohankewal" target="_blank">
          <MastedonIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://github.com/rohankewal" target="_blank">
          <GithubIcon class="w-6" />
        </HeaderLink>
      </div>
      <hr class="my-4" />
      <p class="text-gray-500 text-center">&copy; {today.getFullYear()} Rohan Kewalramani. All rights reserved.</p>
    </footer>
